<p id="notice"><%= notice %></p>
<div class="content">
<table>
  <thead>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
      <tr>
        <br>

        <td><button class="downvote" data-id=<%="#{post.id}"%>><%=post.downvote%></button></td>
        <td><hr size="30"></td>
        <td><font face="arial" size="3"><%= post.contents %></font></td>
        <td><hr size="30"></td>
        <td><button class="upvote" data-id=<%="#{post.id}"%>><%=post.upvote%></button></td>
        <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>
<div align="center"><%= link_to 'Nova notícia', new_post_path %></div>
