<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.downvote %></td>
        <td><button class="downvote" data-id=<%="#{post.id}"%>>&#8249;</button></td>
        <td><%= post.contents %></td>
        <td><button class="upvote" data-id=<%="#{post.id}"%>>&#8250;</button></td>
        <td><%= post.upvote %></td>

        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
