<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @post.contents %>
</p>

<p>
  <strong>Upvote:</strong>
  <%= @post.upvote %>
</p>

<p>
  <strong>Downvote:</strong>
  <%= @post.downvote %>
</p>

<%= link_to 'voltar', posts_path %>
